div#content-wrapper {
    position: absolute;
    top: 120px;
    bottom: 30px;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
}

main#content {
	font-size: 1.1em;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 100%;

    text-align: center;
    vertical-align: middle;
    
    // hack to make photos list page wrapper fill everything white
    &:before {
        display: block;
        float: left;

        height: 100%;

        content: '';
    }
}

div#greeting {
    h1 {
        font-size: 2em;
        font-weight: 100;

        letter-spacing: .05em;

        color: white;
    }
}

div.shaded-ribbon {
    width: 100%;
    padding: 2%;

    background-color: rgba(0, 0, 0, .3);

    h2 {
        font-size: 1.2em;
        font-weight: 100;

        margin-bottom: 10px;

        color: white;
    }

    p {
        color: white;
    }

    button {
        margin: 10px;
    }
}
